<a href="https://colab.research.google.com/github/Varunigithub/varuni123/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Drive Mounting

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Importing Libraries

In [3]:
import numpy 
import math 
import random
import pandas

Data Input

In [4]:
data = pandas.read_csv('/Social_Network_Ads.csv')
data.drop(['User ID'], axis = 1, inplace = True)
data.head(10)

  Social Media  Gender  Age  EstimatedSalary  Purchased
0     Facebook    Male   19            19000          0
1      Twitter    Male   35            20000          0
2    Instagram  Female   26            43000          0
3      Linkdin  Female   27            57000          0
4     Facebook    Male   19            76000          0
5      Twitter    Male   27            58000          0
6    Instagram  Female   27            84000          0
7      Linkdin  Female   32           150000          1
8     Facebook    Male   25            33000          0
9      Twitter  Female   35            65000          0

Binary Conversion

In [5]:
varlist =  ['Gender']
def binary_map(x):
    return x.map({'Male': 1, "Female": 0})

data[varlist] = data[varlist].apply(binary_map)

Categorical Conversion

In [6]:
status = pandas.get_dummies(data['Social Media'], drop_first = True)
data = pandas.concat([data, status], axis = 1)
data.drop(['Social Media'], axis = 1, inplace = True)
data

     Gender  Age  EstimatedSalary  Purchased  Instagram  Linkdin  Twitter
0         1   19            19000          0          0        0        0
1         1   35            20000          0          0        0        1
2         0   26            43000          0          1        0        0
3         0   27            57000          0          0        1        0
4         1   19            76000          0          0        0        0
..      ...  ...              ...        ...        ...      ...      ...
395       0   46            41000          1          0        0        0
396       1   51            23000          1          0        0        1
397       0   50            20000          1          1        0        0
398       1   36            33000          0          0        1        0
399       0   49            36000          1          0        0        0

[400 rows x 7 columns]

Finding For Null Values

In [7]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           400 non-null    int64
 1   Age              400 non-null    int64
 2   EstimatedSalary  400 non-null    int64
 3   Purchased        400 non-null    int64
 4   Instagram        400 non-null    uint8
 5   Linkdin          400 non-null    uint8
 6   Twitter          400 non-null    uint8
dtypes: int64(4), uint8(3)
memory usage: 13.8 KB
None

In [8]:
print(data.describe())

           Gender         Age  EstimatedSalary   Purchased   Instagram  \
count  400.000000  400.000000       400.000000  400.000000  400.000000
mean     0.490000   40.175000     69742.500000    0.357500    0.260000
std      0.500526   31.709511     34096.960282    0.479864    0.439184
min      0.000000   18.000000     15000.000000    0.000000    0.000000
25%      0.000000   30.000000     43000.000000    0.000000    0.000000
50%      0.000000   37.000000     70000.000000    0.000000    0.000000
75%      1.000000   46.000000     88000.000000    1.000000    1.000000
max      1.000000  480.000000    150000.000000    1.000000    1.000000

          Linkdin     Twitter
count  400.000000  400.000000
mean     0.217500    0.260000
std      0.413062    0.439184
min      0.000000    0.000000
25%      0.000000    0.000000
50%      0.000000    0.000000
75%      0.000000    1.000000
max      1.000000    1.000000

In [9]:
def detect_outliers_zscore(data):
    outliers = []
    thres = 1
    mean = numpy.mean(data)
    std = numpy.std(data)
    for i in data:
        z_score = (i-mean)/std
        if (numpy.abs(z_score) > thres):
            outliers.append(i)
    return outliers

In [10]:
sample_outliers_Age = detect_outliers_zscore(data['Age'])
print("Outliers in Age column from Z-scores method: ", sample_outliers_Age)

Outliers in Age column from Z-scores method:  [480, 270, 370]

In [11]:
from scipy.stats import zscore
z1 = numpy.abs(zscore(data['Age']))
data['Zscore_Age'] = z1
outliers_Age=len(data[data['Zscore_Age']>1])
data_z = data[data['Zscore_Age']<3]
data=data_z.drop(['Zscore_Age'], axis=1)
data

     Gender  Age  EstimatedSalary  Purchased  Instagram  Linkdin  Twitter
0         1   19            19000          0          0        0        0
1         1   35            20000          0          0        0        1
2         0   26            43000          0          1        0        0
3         0   27            57000          0          0        1        0
4         1   19            76000          0          0        0        0
..      ...  ...              ...        ...        ...      ...      ...
395       0   46            41000          1          0        0        0
396       1   51            23000          1          0        0        1
397       0   50            20000          1          1        0        0
398       1   36            33000          0          0        1        0
399       0   49            36000          1          0        0        0

[397 rows x 7 columns]

In [12]:
print(data.describe())

           Gender         Age  EstimatedSalary   Purchased   Instagram  \
count  397.000000  397.000000       397.000000  397.000000  397.000000
mean     0.488665   37.657431     70007.556675    0.357683    0.261965
std      0.500502   10.495960     34063.924508    0.479923    0.440258
min      0.000000   18.000000     15000.000000    0.000000    0.000000
25%      0.000000   30.000000     43000.000000    0.000000    0.000000
50%      0.000000   37.000000     70000.000000    0.000000    0.000000
75%      1.000000   46.000000     88000.000000    1.000000    1.000000
max      1.000000   60.000000    150000.000000    1.000000    1.000000

          Linkdin     Twitter
count  397.000000  397.000000
mean     0.214106    0.261965
std      0.410718    0.440258
min      0.000000    0.000000
25%      0.000000    0.000000
50%      0.000000    0.000000
75%      0.000000    1.000000
max      1.000000    1.000000

In [13]:
print(data.isnull().sum())

Gender             0
Age                0
EstimatedSalary    0
Purchased          0
Instagram          0
Linkdin            0
Twitter            0
dtype: int64

In [14]:
from sklearn.model_selection import train_test_split
dataframe = data.values
x, y = dataframe[:, :-1], dataframe[:, -1]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 9)
x_train

array([[     1,     37,  53000,      0,      0,      0],
       [     0,     36, 126000,      1,      1,      0],
       [     0,     27,  58000,      0,      1,      0],
       ...,
       [     0,     26,  84000,      0,      0,      0],
       [     1,     37,  75000,      0,      1,      0],
       [     1,     56,  60000,      1,      1,      0]])